<div class="board-page-box">
  <p class="title"><img dnlSrc="/assets/images/icons/story-step-on.png" alt="icon">
    {{ 'DATA.TITLE' | translate }}
  </p>

  <ul fxLayout="row" class="tab-menu" fxHide.sm fxHide.md>
    <li fxFlex [class.active]="activeIndex === 0" routerLink="/data/board/notice">{{ 'DATA.TAB.TAB1' | translate }}</li>
    <li fxFlex [class.active]="activeIndex === 1" routerLink="/data/board/press-release">{{ 'DATA.TAB.TAB2' | translate }}</li>
    <li fxFlex [class.active]="activeIndex === 2" routerLink="/data/board/news">{{ 'DATA.TAB.TAB3' | translate }}</li>
  </ul>


  <div class="selected-menu" fxHide.lg (click)="onClick()" [class.selected]="Opened">
    <div class="selected-menu-list">
      <a class="selected-item" [ngSwitch]="activeIndex">
        <ng-container *ngSwitchCase="0">{{ 'DATA.TAB.TAB1' | translate }}</ng-container>
        <ng-container *ngSwitchCase="1">{{ 'DATA.TAB.TAB2' | translate }}</ng-container>
        <ng-container *ngSwitchCase="2">{{ 'DATA.TAB.TAB3' | translate }}</ng-container>
      </a>

      <ul class="selected-menu-item">
        <li [class.active]="activeIndex === 0" (click)="changeIndex(0)">
          {{ 'DATA.TAB.TAB1' | translate }}
        </li>
        <li [class.active]="activeIndex === 1" (click)="changeIndex(1)">
          {{ 'DATA.TAB.TAB2' | translate }}
        </li>
        <li [class.active]="activeIndex === 2" (click)="changeIndex(2)">
          {{ 'DATA.TAB.TAB3' | translate }}
        </li>
      </ul>
    </div>
  </div>


  <div class="tab-content" [class.active]="activeIndex === 0">
    <ust-board-notice></ust-board-notice>
  </div>

  <div class="tab-content" [class.active]="activeIndex === 1">
    <ust-board-press></ust-board-press>
  </div>

  <div class="tab-content" [class.active]="activeIndex === 2">
    <ust-board-company></ust-board-company>
  </div>
</div>
