<div class="story-group-box sub-responsive-box">
  <h2 data-scroll><img dnlSrc="/assets/images/icons/story-step-on.png" alt="icon">{{ 'ABOUT.GROUP.TITLE' | translate }}</h2>

  <ul fxLayout="row wrap" fxLayoutAlign.lt-lg="center" class="story-group-list">
    <li class="story-group-item" data-scroll>
      <img src="/assets/images/about-group-hwangkum.jpg" />

      <p class="company">{{ 'ABOUT.GROUP.GROUP1.COMPANY' | translate }}</p>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title1.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB1' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP1.YEAR' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title2.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB2' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP1.NAME' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title3.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB3' | translate }}
        </p>
        <p class="value" [innerHtml]="'ABOUT.GROUP.GROUP1.BUSINESS' | translate"></p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title4.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB4' | translate }}
        </p>
        <p class="value"><a href="http://www.hwangkum.com" target="_blank">www.hwangkum.com</a></p>
      </div>

      <p class="description" [innerHtml]="'ABOUT.GROUP.GROUP1.DESCRIPTION' | translate"></p>
    </li>

    <li class="story-group-item" data-scroll>
      <img src="/assets/images/about-group-good.jpg" width="300" height="155" />

      <p class="company">{{ 'ABOUT.GROUP.GROUP2.COMPANY' | translate }}</p>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title1.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB1' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP2.YEAR' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title2.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB2' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP2.NAME' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title3.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB3' | translate }}
        </p>
        <p class="value" [innerHtml]="'ABOUT.GROUP.GROUP2.BUSINESS' | translate"></p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title4.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB4' | translate }}
        </p>
        <p class="value">www.goodsteel.net</p>
      </div>

      <p class="description" [innerHtml]="'ABOUT.GROUP.GROUP2.DESCRIPTION' | translate"></p>
    </li>

    <li class="story-group-item" data-scroll>
      <img src="/assets/images/about-group-inter.jpg" />

      <p class="company">{{ 'ABOUT.GROUP.GROUP3.COMPANY' | translate }}</p>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title1.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB1' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP3.YEAR' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title2.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB2' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP3.NAME' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title3.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB3' | translate }}
        </p>
        <p class="value" [innerHtml]="'ABOUT.GROUP.GROUP3.BUSINESS' | translate"></p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title4.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB4' | translate }}
        </p>
        <p class="value"><a href="http://www.interconstech.com" target="_blank">www.interconstech.com</a></p>
      </div>

      <p class="description" [innerHtml]="'ABOUT.GROUP.GROUP3.DESCRIPTION' | translate"></p>
    </li>

    <li class="story-group-item" data-scroll>
      <img src="/assets/images/about-group-esang.jpg" />

      <p class="company">{{ 'ABOUT.GROUP.GROUP4.COMPANY' | translate }}</p>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title1.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB1' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP4.YEAR' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title2.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB2' | translate }}
        </p>
        <p class="value">{{ 'ABOUT.GROUP.GROUP4.NAME' | translate }}</p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title3.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB3' | translate }}
        </p>
        <p class="value" [innerHtml]="'ABOUT.GROUP.GROUP4.BUSINESS' | translate"></p>
      </div>

      <div fxLayout="row" class="field">
        <p class="label"><img dnlSrc="/assets/images/icons/story-group-title4.png" alt="icon">
          {{ 'ABOUT.GROUP.SUBTITLE.SUB4' | translate }}
        </p>
        <p class="value"><a href="http://www.e-sang.net" target="_blank">www.e-sang.net</a></p>
      </div>

      <p class="description" [innerHtml]="'ABOUT.GROUP.GROUP4.DESCRIPTION' | translate"></p>
    </li>
  </ul>
</div>
