<div class="system-tab-box">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between">
    <img dnlSrc="/assets/images/system-tab-main4.png" alt="인라인 열 처리" class="img">

    <div fxFlex class="info-box">
      <p class="name">{{ 'PRODUCT.SYSTEM.SYSTEM4.NAME' | translate }}</p>
      <p class="description" [innerHtml]="'PRODUCT.SYSTEM.SYSTEM4.DESCRIPTION' | translate"></p>


      <div class="info-section use">
        <p class="title">{{ 'PRODUCT.SYSTEM.SUBTITLE.STRENGTH' | translate }}</p>
        <p [innerHtml]="'PRODUCT.SYSTEM.SYSTEM4.STRENGTH' | translate"></p>
      </div>
    </div>
  </div>
</div>
