<div class="system-tab-box">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between">
    <img dnlSrc="/assets/images/system-tab-main2.png" alt="인라인 교정기" class="img">

    <div fxFlex class="info-box">
      <p class="name">{{ 'PRODUCT.SYSTEM.SYSTEM2.NAME' | translate }}</p>
      <p class="description" [innerHtml]="'PRODUCT.SYSTEM.SYSTEM2.DESCRIPTION' | translate"></p>

      <div class="info-section use">
        <p class="title">{{ 'PRODUCT.SYSTEM.SUBTITLE.STRENGTH' | translate }}</p>
        <p [innerHtml]="'PRODUCT.SYSTEM.SYSTEM2.STRENGTH' | translate"></p>
      </div>
    </div>
  </div>
</div>
