<div class="certification-auth-list-box grade">
  <ul fxLayout="row wrap" class="certification-list-box">
    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-A312.jpg')">
      <img src="/assets/images/certification/certification1/grade-A312-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> ASTM A 312</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-KSD3576-304.jpg')">
      <img src="/assets/images/certification/certification1/grade-KSD3576-304-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3576 / 304</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-KSD3576-316L.jpg')">
      <img src="/assets/images/certification/certification1/grade-KSD3576-316L-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3576 / 316L</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-KSD3577-304.jpg')">
      <img src="/assets/images/certification/certification1/grade-KSD3577-304-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3577 / 304</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-KSD3588-304.jpg')">
      <img src="/assets/images/certification/certification1/grade-KSD3588-304-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3588 / 304</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-KSD3595-304.jpg')">
      <img src="/assets/images/certification/certification1/grade-KSD3595-304-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3595 / 304</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-3576.jpg')">
      <img src="/assets/images/certification/certification1/grade-3576-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3576</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-3588.jpg')">
      <img src="/assets/images/certification/certification1/grade-3588-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3588</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-3595.jpg')">
      <img src="/assets/images/certification/certification1/grade-3595-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> KS D 3595</p>
    </li>

    <li (click)="openCertificationAuth('/assets/images/certification/certification1/grade-KSD3578.jpg')">
      <img src="/assets/images/certification/certification1/grade-KSD3578-thumb.jpg" alt="공인성적서">
      <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB2' | translate }}</span> 수도용 스테인리스 이형관</p>
    </li>
  </ul>
</div>
