ust-toolbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 999;
}

ust-sidebar {
  display: block;
  position: fixed;
  top: 72px;
  left: 0;
  width: 200px;
  height: calc(100% - 72px);
  background-color: #999;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 998;
}

.sidebar-and-content-box {
  padding-top: 72px;
  height: calc(100% - 72px);
}

.layout-content-box {
  padding-left: 200px;
  min-height: 100%;
  background-color: #ddd;
  overflow-y: auto;
  box-sizing: border-box;
}

.layout-content {
  margin: 24px auto;
  width: 1032px;
}
