<div class="detail-box">
  <div class="detail-header">
    <button class="back-button" mat-icon-button routerLink="../" type="button">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <h3>성적서요청 상세</h3>

    <div class="action-box">
      <button class="button delete-button" mat-stroked-button (click)="delete()" [disabled]="isLoading" type="button">삭제</button>

      <button class="button complete-button" mat-flat-button color="primary" (click)="modify()" [disabled]="invalid || isLoading" type="button">저장</button>
    </div>
  </div>

  <div class="detail-content">
    <ust-grade-form [doc]="entity" (valueChange)="formValue = $event" (statusChange)="invalid = $event !== 'VALID'"></ust-grade-form>
  </div>
</div>

