<div class="research-plan-box">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between center" class="plan-box">
    <img dnlSrc="/assets/images/research-plan1.png" alt="사업전망 및 계획" class="image">

    <div class="text">
      <img dnlSrc="/assets/images/icons/story-step-on.png" alt="icon" class="title-icon">

      <p class="title">{{ 'RESEARCH.RESEARCH2.SECTION1.TITLE' | translate }}
        <span>{{ 'RESEARCH.RESEARCH2.SECTION1.SUBTITLE' | translate }}</span>
      </p>

      <p class="description" [innerHtml]="'RESEARCH.RESEARCH2.SECTION1.CONTENT1' | translate"></p>

      <p class="sub-title">{{ 'RESEARCH.RESEARCH2.SECTION1.CONTENT2.HEADER' | translate }}</p>

      <ul>
        <li>{{ 'RESEARCH.RESEARCH2.SECTION1.CONTENT2.ITEM1' | translate }}</li>
        <li>{{ 'RESEARCH.RESEARCH2.SECTION1.CONTENT2.ITEM2' | translate }}</li>
        <li>{{ 'RESEARCH.RESEARCH2.SECTION1.CONTENT2.ITEM3' | translate }}</li>
        <li>{{ 'RESEARCH.RESEARCH2.SECTION1.CONTENT2.ITEM4' | translate }}</li>
      </ul>

      <p class="description" [innerHtml]="'RESEARCH.RESEARCH2.SECTION1.CONTENT3' | translate"></p>
    </div>
  </div>

  <div class="research-plan-bottom">
    <p [innerHtml]="'RESEARCH.RESEARCH2.SECTION2' | translate"></p>
  </div>
</div>
