<form [formGroup]="formGroup">
  <h4>손익 계산서</h4>

  <ng-container formArrayName="incomeStatementData">
    <ng-container *ngFor="let row of incomeStatementData.controls; index as i" [formGroupName]="i">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <mat-form-field class="form-field"  fxFlex="10%">
          <h5>연도</h5>
          <input matInput formControlName="year" type="number">
        </mat-form-field>

        <mat-form-field class="form-field" fxFlex="30%">
          <h5>매출액</h5>
          <input matInput formControlName="sales" type="number">
        </mat-form-field>

        <mat-form-field class="form-field" fxFlex="30%">
          <h5>영업이익</h5>
          <input matInput formControlName="operatingProfit" type="number">
        </mat-form-field>

        <mat-form-field class="form-field" fxFlex="30%">
          <h5>당기순이익</h5>
          <input matInput formControlName="netProfit" type="number">
        </mat-form-field>

        <button mat-icon-button type="button" (click)="deleteRow(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-container>
  </ng-container>

  <button class="button" mat-flat-button color="primary" (click)="increaseRow()">+ 행추가</button>
</form>
