<div class="certification-auth-list-box">
  <ng-container [ngSwitch]="tabIndex">
    <ng-container *ngSwitchCase="0">
      <ul fxLayout="row wrap" class="certification-list-box">
        <li (click)="openCertificationAuth('/assets/images/certification/certification2/7_KSD3576.jpg')">
          <img src="/assets/images/certification/certification2/7_KSD3576-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3576</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월24일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/8_KSD3588.jpg')">
          <img src="/assets/images/certification/certification2/8_KSD3588-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3588</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월24일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/9_KSD3577.jpg')">
          <img src="/assets/images/certification/certification2/9_KSD3577-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3577</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월24일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/10_KSD3595.jpg')">
          <img src="/assets/images/certification/certification2/10_KSD3595-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3595</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2016년 6월23일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/13_JISG3448_.jpg')">
          <img src="/assets/images/certification/certification2/13_JISG3448_-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> JISG3448</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 9월24일~2020년 9월23일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/14_JISG3459_.jpg')">
          <img src="/assets/images/certification/certification2/14_JISG3459_-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> JISG3459</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 9월24일~2020년 9월23일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/ABS.jpg')">
          <img src="/assets/images/certification/certification2/ABS-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> ABS</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2007년 11월1일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/BV.jpg')">
          <img src="/assets/images/certification/certification2/BV-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> BV</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>~2021년 2월1일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/BV2.jpg')">
          <img src="/assets/images/certification/certification2/BV2-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> BV2</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>~2021년 8월11일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/KR.jpg')">
          <img src="/assets/images/certification/certification2/KR-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KR</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월9일~2021년 1월7일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/LR.jpg')">
          <img src="/assets/images/certification/certification2/LR-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> LR</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 12월12일~2020년 10월3일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/NK.jpg')">
          <img src="/assets/images/certification/certification2/NK-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> NK</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 6월22일~2021년 12월7일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/21_KC-0230.jpg')">
          <img src="/assets/images/certification/certification3/21_KC-0230-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC배관용</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2011년 11월28일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/23_KC-0231.jpg')">
          <img src="/assets/images/certification/certification3/23_KC-0231-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC일반배관용</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2011년 11월28일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/25_KC-0232.jpg')">
          <img src="/assets/images/certification/certification3/25_KC-0232-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC대구경</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2011년 11월28일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/27_KC-0241.jpg')">
          <img src="/assets/images/certification/certification3/27_KC-0241-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC이형관</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2018년 12월18일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification4/11_ISO9001.jpg')">
          <img src="/assets/images/certification/certification4/11_ISO9001-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> ISO9001</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2018년 10월25일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification4/12_ISO14001.jpg')">
          <img src="/assets/images/certification/certification4/12_ISO14001-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> ISO14001</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2018년 10월25일</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="1">
      <div class="info-box">
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY2.NAME' | translate }}</p>
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY2.DESCRIPTION' | translate }}</p>
      </div>

      <ul fxLayout="row wrap" class="certification-list-box">
        <li (click)="openCertificationAuth('/assets/images/certification/certification2/7_KSD3576.jpg')">
          <img src="/assets/images/certification/certification2/7_KSD3576-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3576</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월24일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/8_KSD3588.jpg')">
          <img src="/assets/images/certification/certification2/8_KSD3588-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3588</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월24일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/9_KSD3577.jpg')">
          <img src="/assets/images/certification/certification2/9_KSD3577-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3577</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월24일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/10_KSD3595.jpg')">
          <img src="/assets/images/certification/certification2/10_KSD3595-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KSD3595</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2016년 6월23일</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="2">
      <div class="info-box">
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY3.NAME' | translate }}</p>
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY3.DESCRIPTION' | translate }}</p>
      </div>

      <ul fxLayout="row wrap" class="certification-list-box">
        <li (click)="openCertificationAuth('/assets/images/certification/certification2/13_JISG3448_.jpg')">
          <img src="/assets/images/certification/certification2/13_JISG3448_-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> JISG3448</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 9월24일~2020년 9월23일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/14_JISG3459_.jpg')">
          <img src="/assets/images/certification/certification2/14_JISG3459_-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> JISG3459</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 9월24일~2020년 9월23일</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="3">
      <div class="info-box">
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY4.NAME' | translate }}</p>
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY4.DESCRIPTION' | translate }}</p>
      </div>

      <ul fxLayout="row wrap" class="certification-list-box">
        <li (click)="openCertificationAuth('/assets/images/certification/certification4/11_ISO9001.jpg')">
          <img src="/assets/images/certification/certification4/11_ISO9001-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> ISO9001</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2018년 10월25일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification4/12_ISO14001.jpg')">
          <img src="/assets/images/certification/certification4/12_ISO14001-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> ISO14001</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2018년 10월25일</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="4">
      <div class="info-box">
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY5.NAME' | translate }}</p>
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY5.DESCRIPTION' | translate }}</p>
      </div>

      <ul fxLayout="row wrap" class="certification-list-box">
        <li (click)="openCertificationAuth('/assets/images/certification/certification2/ABS.jpg')">
          <img src="/assets/images/certification/certification2/ABS-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> ABS</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2007년 11월1일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/BV.jpg')">
          <img src="/assets/images/certification/certification2/BV-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> BV</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>~2021년 2월1일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/BV2.jpg')">
          <img src="/assets/images/certification/certification2/BV2-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> BV2</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>~2021년 8월11일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/KR.jpg')">
          <img src="/assets/images/certification/certification2/KR-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KR</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 8월9일~2021년 1월7일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/LR.jpg')">
          <img src="/assets/images/certification/certification2/LR-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> LR</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 12월12일~2020년 10월3일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification2/NK.jpg')">
          <img src="/assets/images/certification/certification2/NK-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> NK</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2017년 6월22일~2021년 12월7일</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="5">
      <div class="info-box">
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY6.NAME' | translate }}</p>
        <p>{{ 'PRODUCT.CERTIFICATION.CATEGORY.CATEGORY6.DESCRIPTION' | translate }}</p>
      </div>

      <ul fxLayout="row wrap" class="certification-list-box">
        <li (click)="openCertificationAuth('/assets/images/certification/certification3/21_KC-0230.jpg')">
          <img src="/assets/images/certification/certification3/21_KC-0230-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC배관용</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2011년 11월28일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/23_KC-0231.jpg')">
          <img src="/assets/images/certification/certification3/23_KC-0231-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC일반배관용</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2011년 11월28일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/25_KC-0232.jpg')">
          <img src="/assets/images/certification/certification3/25_KC-0232-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC대구경</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2011년 11월28일</p>
        </li>

        <li (click)="openCertificationAuth('/assets/images/certification/certification3/27_KC-0241.jpg')">
          <img src="/assets/images/certification/certification3/27_KC-0241-thumb.jpg" alt="제품인증서">
          <p class="cord"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB1' | translate }}</span> KC이형관</p>
          <p class="date"><span>{{ 'PRODUCT.CERTIFICATION.SUBTITLE.SUB3' | translate }} : </span>2018년 12월18일</p>
        </li>
      </ul>
    </ng-container>
  </ng-container>
</div>


