<div class="introduce-pipe-box">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between flex-start">
    <img dnlSrc="/assets/images/introduce-pipe-main4.png" alt="보일러, 열 교환기용 스테인리스 강관" class="img">

    <div fxFlex class="info-box">
      <p class="name">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT4.NAME' | translate }}</p>
      <p class="name-en">STAINLESS STEEL FOR BOILER AND HEAT EXCHANGER TUBES</p>

      <div class="info-section size">
        <p class="title">{{ 'PRODUCT.INTRODUCE.SUBTITLE.SIZE' | translate }}</p>
        <div class="size-box">
          <span>KS D 3577</span><span>JIS G 3463</span>
        </div>
      </div>

      <div class="info-section use">
        <p class="title">{{ 'PRODUCT.INTRODUCE.SUBTITLE.USE' | translate }}</p>

        <ul fxLayout="row" class="use-box">
          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon8.png" alt="보일러 과열기관">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT4.USE1' | translate }}</p>
          </li>

          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon9.png" alt="화학공업 열 교환기관">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT4.USE2' | translate }}</p>
          </li>

          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon10.png" alt="콘덴서관">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT4.USE3' | translate }}</p>
          </li>

          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon11.png" alt="촉매관">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT4.USE4' | translate }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="table-box">
    <p class="title">KS D 3577 / JIS G 3463</p>

    <div class="table-wrap" #tableRef>
      <div [class.fixed]="headerFixed">
        <table>
          <tr class="top-th">
            <th rowspan="2" width="130">외경</th>
            <th colspan="17">두께</th>
          </tr>

          <tr class="middle-th">
            <th>1.2</th>
            <th>1.6</th>
            <th>2.0</th>
            <th>2.3</th>
            <th>2.6</th>
            <th>2.9</th>
            <th>3.2</th>
            <th>3.5</th>
            <th>4.0</th>
            <th>4.5</th>
            <th>5.0</th>
            <th>5.5</th>
            <th>6.0</th>
            <th>6.5</th>
            <th>7.0</th>
            <th>8.0</th>
            <th>9.5</th>
          </tr>
        </table>
      </div>

      <table [class.margin-top]="headerFixed">
        <tr>
          <td class="type1" width="130">15.9</td>
          <td class="type2">0.439</td>
          <td class="type2">0.570</td>
          <td class="type2">0.692</td>
          <td class="type2">0.779</td>
          <td class="type2">0.861</td>
          <td class="type2">0.939</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">19.0</td>
          <td class="type2">0.532</td>
          <td class="type2">0.693</td>
          <td class="type2">0.847</td>
          <td class="type2">0.957</td>
          <td class="type2">1.06</td>
          <td class="type2">1.16</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">21.7</td>
          <td class="type2">0.613</td>
          <td class="type2">0.801</td>
          <td class="type2">0.981</td>
          <td class="type2">1.11</td>
          <td class="type2">1.24</td>
          <td class="type2">1.36</td>
          <td class="type2">1.47</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">25.4</td>
          <td class="type2">0.723</td>
          <td class="type2">0.949</td>
          <td class="type2">1.17</td>
          <td class="type2">1.32</td>
          <td class="type2">1.48</td>
          <td class="type2">1.63</td>
          <td class="type2">1.77</td>
          <td class="type2">1.91</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">27.2</td>
          <td class="type2">0.777</td>
          <td class="type2">1.02</td>
          <td class="type2">1.26</td>
          <td class="type2">1.43</td>
          <td class="type2">1.59</td>
          <td class="type2">1.76</td>
          <td class="type2">1.91</td>
          <td class="type2">2.07</td>
          <td class="type2">2.31</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">31.8</td>
          <td class="type2">0.915</td>
          <td class="type2">1.20</td>
          <td class="type2">1.48</td>
          <td class="type2">1.69</td>
          <td class="type2">1.89</td>
          <td class="type2">2.09</td>
          <td class="type2">2.28</td>
          <td class="type2">2.47</td>
          <td class="type2">2.77</td>
          <td class="type2">3.06</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">34.0</td>
          <td>-</td>
          <td class="type2">1.29</td>
          <td class="type2">1.59</td>
          <td class="type2">1.82</td>
          <td class="type2">2.03</td>
          <td class="type2">2.45</td>
          <td class="type2">2.46</td>
          <td class="type2">2.66</td>
          <td class="type2">2.99</td>
          <td class="type2">3.31</td>
          <td class="type2">3.61</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">38.1</td>
          <td>-</td>
          <td class="type2">1.45</td>
          <td class="type2">1.80</td>
          <td class="type2">2.05</td>
          <td class="type2">2.30</td>
          <td class="type2">2.54</td>
          <td class="type2">2.78</td>
          <td class="type2">3.02</td>
          <td class="type2">3.40</td>
          <td class="type2">3.77</td>
          <td class="type2">4.12</td>
          <td class="type2">4.47</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">42.7</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">2.03</td>
          <td class="type2">2.31</td>
          <td class="type2">2.60</td>
          <td class="type2">2.88</td>
          <td class="type2">3.15</td>
          <td class="type2">3.42</td>
          <td class="type2">3.86</td>
          <td class="type2">4.28</td>
          <td class="type2">4.70</td>
          <td class="type2">5.10</td>
          <td class="type2">5.49</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">45.0</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">2.14</td>
          <td class="type2">2.45</td>
          <td class="type2">2.75</td>
          <td class="type2">3.04</td>
          <td class="type2">3.33</td>
          <td class="type2">3.62</td>
          <td class="type2">4.09</td>
          <td class="type2">4.54</td>
          <td class="type2">4.98</td>
          <td class="type2">5.41</td>
          <td class="type2">5.83</td>
          <td class="type2">6.23</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">48.6</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">2.14</td>
          <td class="type2">2.45</td>
          <td class="type2">2.75</td>
          <td class="type2">3.04</td>
          <td class="type2">3.33</td>
          <td class="type2">3.62</td>
          <td class="type2">4.09</td>
          <td class="type2">4.54</td>
          <td class="type2">4.98</td>
          <td class="type2">5.41</td>
          <td class="type2">5.83</td>
          <td class="type2">6.23</td>
          <td class="type2">6.23</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td class="type1" width="130">50.8</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">2.43</td>
          <td class="type2">2.78</td>
          <td class="type2">3.12</td>
          <td class="type2">3.46</td>
          <td class="type2">3.79</td>
          <td class="type2">4.12</td>
          <td class="type2">4.66</td>
          <td class="type2">5.19</td>
          <td class="type2">5.70</td>
          <td class="type2">6.21</td>
          <td class="type2">6.70</td>
          <td class="type2">7.17</td>
          <td class="type2">7.64</td>
          <td class="type2">8.53</td>
          <td class="type2">9.77</td>
        </tr>

        <tr>
          <td class="type1" width="130">54.0</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">2.59</td>
          <td class="type2">2.96</td>
          <td class="type2">3.33</td>
          <td class="type2">3.69</td>
          <td class="type2">4.05</td>
          <td class="type2">4.40</td>
          <td class="type2">4.98</td>
          <td class="type2">5.55</td>
          <td class="type2">6.10</td>
          <td class="type2">6.64</td>
          <td class="type2">7.17</td>
          <td class="type2">7.69</td>
          <td class="type2">8.20</td>
          <td class="type2">9.17</td>
          <td class="type2">10.5</td>
        </tr>

        <tr>
          <td class="type1" width="130">57.1</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">2.75</td>
          <td class="type2">3.14</td>
          <td class="type2">3.53</td>
          <td class="type2">3.92</td>
          <td class="type2">4.30</td>
          <td class="type2">4.67</td>
          <td class="type2">5.29</td>
          <td class="type2">5.90</td>
          <td class="type2">6.49</td>
          <td class="type2">7.07</td>
          <td class="type2">7.64</td>
          <td class="type2">8.19</td>
          <td class="type2">8.74</td>
          <td class="type2">9.78</td>
          <td class="type2">11.3</td>
        </tr>

        <tr>
          <td class="type1" width="130">63.5</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">3.51</td>
          <td class="type2">3.94</td>
          <td class="type2">4.38</td>
          <td class="type2">4.81</td>
          <td class="type2">5.23</td>
          <td class="type2">5.93</td>
          <td class="type2">6.61</td>
          <td class="type2">7.29</td>
          <td class="type2">7.95</td>
          <td class="type2">8.59</td>
          <td class="type2">9.23</td>
          <td class="type2">9.85</td>
          <td class="type2">11.1</td>
          <td class="type2">12.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">65</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">3.59</td>
          <td class="type2">4.04</td>
          <td class="type2">4.49</td>
          <td class="type2">4.93</td>
          <td class="type2">5.36</td>
          <td class="type2">6.08</td>
          <td class="type2">6.78</td>
          <td class="type2">7.47</td>
          <td class="type2">8.15</td>
          <td class="type2">8.82</td>
          <td class="type2">9.47</td>
          <td class="type2">10.1</td>
          <td class="type2">11.4</td>
          <td class="type2">13.1</td>
        </tr>

        <tr>
          <td class="type1" width="130">70.0</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">3.88</td>
          <td class="type2">4.37</td>
          <td class="type2">4.85</td>
          <td class="type2">5.32</td>
          <td class="type2">5.80</td>
          <td class="type2">6.58</td>
          <td class="type2">7.34</td>
          <td class="type2">8.10</td>
          <td class="type2">8.84</td>
          <td class="type2">9.57</td>
          <td class="type2">10.3</td>
          <td class="type2">11.0</td>
          <td class="type2">12.4</td>
          <td class="type2">14.3</td>
        </tr>

        <tr>
          <td class="type1" width="130">76.2</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">4.23</td>
          <td class="type2">4.77</td>
          <td class="type2">5.30</td>
          <td class="type2">5.82</td>
          <td class="type2">6.34</td>
          <td class="type2">7.19</td>
          <td class="type2">8.04</td>
          <td class="type2">8.87</td>
          <td class="type2">9.69</td>
          <td class="type2">10.5</td>
          <td class="type2">11.3</td>
          <td class="type2">12.1</td>
          <td class="type2">13.6</td>
          <td class="type2">15.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">82.6</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">6.33</td>
          <td class="type2">6.90</td>
          <td class="type2">7.83</td>
          <td class="type2">8.75</td>
          <td class="type2">9.67</td>
          <td class="type2">10.6</td>
          <td class="type2">11.4</td>
          <td class="type2">12.3</td>
          <td class="type2">13.2</td>
          <td class="type2">14.9</td>
          <td class="type2">17.3</td>
        </tr>

        <tr>
          <td class="type1" width="130">88.9</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">6.83</td>
          <td class="type2">7.45</td>
          <td class="type2">8.46</td>
          <td class="type2">9.46</td>
          <td class="type2">10.4</td>
          <td class="type2">11.4</td>
          <td class="type2">12.4</td>
          <td class="type2">13.3</td>
          <td class="type2">14.3</td>
          <td class="type2">16.1</td>
          <td class="type2">18.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">101.6</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">8.55</td>
          <td class="type2">9.72</td>
          <td class="type2">10.9</td>
          <td class="type2">12.0</td>
          <td class="type2">13.2</td>
          <td class="type2">14.3</td>
          <td class="type2">15.4</td>
          <td class="type2">16.5</td>
          <td class="type2">18.7</td>
          <td class="type2">21.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">101.6</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">8.55</td>
          <td class="type2">9.72</td>
          <td class="type2">10.9</td>
          <td class="type2">12.0</td>
          <td class="type2">13.2</td>
          <td class="type2">14.3</td>
          <td class="type2">15.4</td>
          <td class="type2">16.5</td>
          <td class="type2">18.7</td>
          <td class="type2">21.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">114.3</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">11.0</td>
          <td class="type2">12.3</td>
          <td class="type2">13.6</td>
          <td class="type2">14.9</td>
          <td class="type2">16.2</td>
          <td class="type2">17.5</td>
          <td class="type2">18.7</td>
          <td class="type2">21.2</td>
          <td class="type2">24.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">127.0</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">12.3</td>
          <td class="type2">13.7</td>
          <td class="type2">15.2</td>
          <td class="type2">16.6</td>
          <td class="type2">18.1</td>
          <td class="type2">19.5</td>
          <td class="type2">20.9</td>
          <td class="type2">23.7</td>
          <td class="type2">27.8</td>
        </tr>

        <tr>
          <td class="type1" width="130">139.8</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="type2">18.4</td>
          <td class="type2">20.0</td>
          <td class="type2">21.6</td>
          <td class="type2">23.2</td>
          <td class="type2">26.3</td>
          <td class="type2">30.8</td>
        </tr>
      </table>
    </div>
  </div>
</div>
