<div class="introduce-pipe-box">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between flex-start">
    <img dnlSrc="/assets/images/introduce-pipe-main3.png" alt="배관용 용접 대구경 스테인리스 강관" class="img">

    <div fxFlex class="info-box">
      <p class="name">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.NAME' | translate }}</p>
      <p class="name-en">LIGHT GAUGE STAINLESS STEEL PIPES FOR ORDINARY PIPING</p>

      <div class="info-section size">
        <p class="title">{{ 'PRODUCT.INTRODUCE.SUBTITLE.SIZE' | translate }}</p>
        <div class="size-box">
          <span>KS D 3595</span><span>JIS G 3448</span>
        </div>
      </div>

      <div class="info-section use">
        <p class="title">{{ 'PRODUCT.INTRODUCE.SUBTITLE.USE' | translate }}</p>

        <ul fxLayout="row" class="use-box">
          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon5.png" alt="급수">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.USE1' | translate }}</p>
          </li>

          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon6.png" alt="급탕">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.USE2' | translate }}</p>
          </li>

          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon7.png" alt="배수">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.USE3' | translate }}</p>
          </li>

          <li>
            <img dnlSrc="/assets/images/icons/product-introduce-use-icon4.png" alt="냉 온수의 배관">
            <p>{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.USE4' | translate }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="table-box">
    <p class="title">KS D 3595 / JIS G 3448</p>

    <div class="table-wrap" #tableRef>
      <div [class.fixed]="headerFixed">
        <table>
          <tr class="top-th">
            <th rowspan="2" width="7.5%">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER1' | translate }}</th>
            <th rowspan="2" width="7.5%">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER2' | translate }}</th>
            <th colspan="2">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER3' | translate }}</th>
            <th rowspan="2" width="7.5%">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER4' | translate }}</th>
            <th rowspan="2" width="7.5%">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER5' | translate }}</th>
            <th colspan="2">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER3' | translate }}</th>
          </tr>

          <tr class="middle-th">
            <th width="17.5%" class="type3">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER3_1' | translate }}</th>
            <th width="17.5%" class="type3">{{ 'PRODUCT.INTRODUCE.PRODUCTS.PRODUCT3.TABLE_HEADERS.HEADER3_2' | translate }}</th>
            <th width="17.5%" class="type3">STS 304 TPD</th>
            <th width="17.5%" class="type3">STS 316 TPD</th>
          </tr>
        </table>
      </div>

      <table [class.margin-top]="headerFixed">
        <tr>
          <td class="type1" width="7.5%">13</td>
          <td class="type2" width="7.5%">15.88</td>
          <td class="type3" rowspan="3">+ 0<br>- 0.37</td>
          <td class="type3" rowspan="3">-</td>
          <td class="type1" width="7.5%">0.8</td>
          <td rowspan="6" class="type2" width="7.5%">±0.12</td>
          <td class="type3">0.301</td>
          <td class="type3">0.303</td>
        </tr>

        <tr>
          <td class="type1">20</td>
          <td class="type2">22.22</td>
          <td class="type1">1.0</td>
          <td>0.529</td>
          <td>0.532</td>
        </tr>

        <tr>
          <td class="type1">25</td>
          <td class="type2">28.58</td>
          <td class="type1">1.0</td>
          <td>0.687</td>
          <td>0.691</td>
        </tr>

        <tr>
          <td class="type1">30</td>
          <td class="type2">34.0</td>
          <td>± 0.34</td>
          <td rowspan="2">± 0.20</td>
          <td class="type1">12</td>
          <td>0.980</td>
          <td>0.986</td>
        </tr>

        <tr>
          <td class="type1">40</td>
          <td class="type2">42.7</td>
          <td>± 0.43</td>
          <td class="type1">1.2</td>
          <td>1.24</td>
          <td>1.25</td>
        </tr>

        <tr>
          <td class="type1">50</td>
          <td class="type2">48.6</td>
          <td>± 0.49</td>
          <td rowspan="2">± 0.25</td>
          <td class="type1">1.2</td>
          <td>1.42</td>
          <td>1.43</td>
        </tr>

        <tr>
          <td class="type1">60</td>
          <td class="type2">60.5</td>
          <td>± 0.60</td>
          <td class="type1">1.5</td>
          <td rowspan="2" class="type2">±0.15</td>
          <td>2.20</td>
          <td>2.21</td>
        </tr>

        <tr>
          <td class="type1">75</td>
          <td class="type2">76.3</td>
          <td rowspan="8">±1%</td>
          <td rowspan="8">±0.8%</td>
          <td class="type1">1.5</td>
          <td>2.79</td>
          <td>2.81</td>
        </tr>

        <tr>
          <td class="type1">80</td>
          <td class="type2">89.1</td>
          <td class="type1">2.0</td>
          <td rowspan="3" class="type2">±0.30</td>
          <td>4.34</td>
          <td>4.37</td>
        </tr>

        <tr>
          <td class="type1">100</td>
          <td class="type2">114.3</td>
          <td class="type1">2.0</td>
          <td>5.59</td>
          <td>5.63</td>
        </tr>

        <tr>
          <td class="type1">125</td>
          <td class="type2">139.8</td>
          <td class="type1">2.0</td>
          <td>6.87</td>
          <td>6.91</td>
        </tr>

        <tr>
          <td class="type1">150</td>
          <td class="type2">165.2</td>
          <td class="type1">3.0</td>
          <td rowspan="4" class="type2">±0.40</td>
          <td>12.1</td>
          <td>12.2</td>
        </tr>

        <tr>
          <td class="type1">200</td>
          <td class="type2">216.3</td>
          <td class="type1">3.0</td>
          <td>15.9</td>
          <td>16.0</td>
        </tr>

        <tr>
          <td class="type1">250</td>
          <td class="type2">267.4</td>
          <td class="type1">3.0</td>
          <td>19.8</td>
          <td>19.9</td>
        </tr>

        <tr>
          <td class="type1">300</td>
          <td class="type2">318.5</td>
          <td class="type1">3.0</td>
          <td>23.6</td>
          <td>23.8</td>
        </tr>
      </table>
    </div>
  </div>
</div>
